<div class="container-fluid w-100">
    <div class="row">
        <div class="col text-xl-center">
            <h1 class=" fw-bold">CONTACT</h1>
            <hr class="border border-white opacity-100 border-3">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="fw-bold">Email</p>
        </div>
        <div class="col text-end">
            <a class=" text-light text-decoration-none" href="mailto:20197705@s.ubaguio.edu">20197705&#64;s.ubaguio.edu</a>
        </div>
    </div>
</div>

<!-- <div class="d-flex flex-column">
    
    <div class="contact">
        <div class="d-flex justify-content-between fs-5">
            <p class="fw-bold">Email</p>
            <a class="text-end text-light text-decoration-none" href="mailto:20197705@s.ubaguio.edu">20197705&#64;s.ubaguio.edu</a>
        </div>
    </div>
</div> -->